name: Release single device

on:
  # Сборка при пуше или PR для проверки ошибок (без создания релиза)
  push:
    branches:
      - '*'
    paths:
      - rooted-ota.sh
  pull_request:
    types: [synchronize, opened, reopened]
    paths:
      - rooted-ota.sh

  workflow_call:
    inputs:
      device-id:
        type: string
      magisk-preinit-device:
        type: string
        default: ''
  
  # Ручной запуск из вкладки Actions
  workflow_dispatch:
    inputs:
      device-id:
        description: Device ID
        default: 'panther'
        required: true
      magisk-preinit-device:
        description: Magisk preinit device
        default: 'sda10'
        required: false
      skip-rootless:
        description: skip building rootless OTA
        type: boolean
        required: false
      skip-rooted:
        description: skip building rooted OTA
        type: boolean
        required: false
      upload-test-ota:
        description: Upload OTA to test folder
        required: false
        type: boolean
      force-build:
        description: Force artifacts to be built and uploaded to release if non-existing
        required: false
        type: boolean
      force-ota-server-upload:
        description: Force OTA server upload
        required: false
        type: boolean
      skip-release:
        description: Skip release (build only)
        required: false
        type: boolean
      ota-version:
        description: OTA version
        required: false
      magisk-version:
        description: Magisk version
        required: false

jobs:
  build-device:
    runs-on: ubuntu-latest
    timeout-minutes: 20
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Set inputs
        run: |
          echo "DEVICE_ID=$(echo '${{ github.event.inputs.device-id || inputs.device-id || 'panther' }}' | xargs)" >> $GITHUB_ENV
          if [[ "${{ github.event.inputs.skip-rooted }}" != "true" ]]; then
            echo "MAGISK_PREINIT_DEVICE=$(echo '${{ github.event.inputs.magisk-preinit-device || inputs.magisk-preinit-device || 'sda10' }}' | xargs)" >> $GITHUB_ENV
          fi
          
          echo "MAGISK_VERSION=$(echo '${{ github.event.inputs.magisk-version || '' }}' | xargs)" >> $GITHUB_ENV
          echo "OTA_VERSION=$(echo '${{ github.event.inputs.ota-version || '' }}' | xargs)" >> $GITHUB_ENV
          echo "FORCE_OTA_SERVER_UPLOAD=$(echo '${{ github.event.inputs.force-ota-server-upload || '' }}' | xargs)" >> $GITHUB_ENV
          echo "FORCE_BUILD=$(echo '${{ github.event.inputs.force-build || '' }}' | xargs)" >> $GITHUB_ENV
          echo "UPLOAD_TEST_OTA=$(echo '${{ github.event.inputs.upload-test-ota || '' }}' | xargs)" >> $GITHUB_ENV
          echo "SKIP_ROOTLESS=$(echo '${{ github.event.inputs.skip-rootless || '' }}' | xargs)" >> $GITHUB_ENV
          echo "SKIP_RELEASE=$(echo '${{ github.event.inputs.skip-release || '' }}' | xargs)" >> $GITHUB_ENV
          
          if [[ "${{ github.event_name }}" == "push" ]]  || [[ "${{ github.event_name }}" == "pull_request" ]]; then
            echo "FORCE_BUILD=true" >> $GITHUB_ENV
            echo "SKIP_RELEASE=true" >> $GITHUB_ENV
            echo "GITHUB_TOKEN=must-be-set-but-is-not-used" >> $GITHUB_ENV
          else
            echo "GITHUB_TOKEN=${{ secrets.GITHUB_TOKEN }}" >> $GITHUB_ENV
          fi

      - name: Install dependencies
        run: sudo apt-get update && sudo apt-get install -y jq curl git

      - name: release
        env:
          GITHUB_REPO: ${{ github.repository }}
          # Берем ключи из Secrets, которые ты уже добавил
          KEY_AVB_BASE64: ${{ secrets.KEY_AVB_BASE64 }}
          CERT_OTA_BASE64: ${{ secrets.CERT_OTA_BASE64 }}
          KEY_OTA_BASE64: ${{ secrets.KEY_OTA_BASE64 }}
        run: |
          if [[ $SKIP_RELEASE == 'true' ]]; then
            DEBUG=1 bash -c '. rooted-ota.sh && createRootedOta && createOtaServerData'
          else
            DEBUG=1 bash -c '. rooted-ota.sh && createAndReleaseRootedOta'
          fi
